body {
  margin: 0;
  background-image: url('../img/background.png');
  background-size: 100vw 100vh;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#app {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: scroll;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
#app::-webkit-scrollbar {
  display: none;
}
*::-webkit-scrollbar {
  width: 0.75vh;
  height: 0.75vh;
  background-color: #0f0f0f;
}
*::-webkit-scrollbar-thumb {
  color: red;
  background-color: red;
  border-radius: 5px;
  cursor: grab;
}
a {
  text-decoration: none;
}
a > p {
  text-decoration: none;
  background: linear-gradient(#707070, #f0f0f0, #707070);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@media (max-width: 600px) {
}
